/House.API/bin
/House.API/obj
/House.CBL/bin
/House.CBL/obj
/House.DBL/bin
/House.DBL/obj
/House.Model/bin
/House.Model/obj
/House.Service/obj
/House.Service/bin
/.vs
/House.API/House.API.csproj.user
/House.API/appsettings.Staging.json
/House.API/appsettings.Development.json
/House.API/appsettings.json
/House.API/appsettings.Local.json
/House.API/appsettings.Production.json
/House.API/nlog.Development.config
/House.API/nlog.Local.config
/House.API/nlog.Production.config
/House.API/nlog.config
